@import url(../node_modules/bootstrap-icons/font/bootstrap-icons.min.css);

*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary: #21242e;
  --secondary: #313544;
  --white: #dfdfdf;
  --black: #000000;
  --border-size: 1px;
}

html{
  font-size: 62.5%;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-container{
  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 10rem calc(100vh - 10rem);
}

header{
  background-color: var(--primary);
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

header .title{
  font-size: 6rem;
  font-family: 'Courier New', Courier, monospace;
  color: var(--white);
  font-weight: 900;
}

header .author{
  font-size: 2rem;
}

header .author a{
  text-decoration: none;
  color: var(--white);
}

nav{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: var(--primary);
  border-top: var(--border-size) solid var(--black);
  display: flex;
  flex-direction: column
}

nav button{
  background-color: #21242e;
  border: none;
  padding: 2rem 0;
  border-bottom: var(--border-size) solid var(--black);
  color: var(--white);
  font-size: 1.5rem;
}

nav button.active{
  background-color: #313544;
}

#display{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: var(--secondary);
  border: var(--border-size) solid var(--black);
  padding: 2rem;
}

.project{
  background-color: var(--secondary);
  border: var(--border-size) solid var(--black);
  padding: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--white);
}

.todo{
  background-color: var(--secondary);
  border: var(--border-size) dashed var(--black);
  padding: 1rem;
  margin-top: 1rem;
  color: var(--white);
  font-size: 1.5rem;
}

.btn{
  background-color: var(--secondary);
  border: none;
  color: var(--white);
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn i{
  border: var(--border-size) dashed var(--black);
  display: inline-block;
  padding: 1rem;
}

.btn:hover,
.btn:active{
  background-color: var(--primary);
}

.btn-project{
  border: var(--border-size) solid var(--black);
}

.btn-project i{
  border: none;
}

#todo-modal{
  width: 300px;
  color: var(--white);
  background-color: var(--secondary);
  border: var(--border-size) dashed var(--black);
  padding: 1rem;
  font-size: 1.4rem;
}

#todo-modal legend{
  font-size: 2rem;
}

#todo-modal textarea{
  resize: vertical;
}

#todo-modal fieldset{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: none;
  margin-top: 2rem;
}

#todo-modal button[type="submit"]{
  background-color: var(--secondary);
  border: none;
  border: var(--border-size) dashed var(--black);
  padding: 1rem;
  color: var(--white);
  font-size: 2rem;
}

#todo-modal button[type="submit"]:hover,
#todo-modal button[type="submit"]:active{
  background-color: var(--primary);
}